```{=html}
<div class="sd-container-fluid sd-sphinx-override sd-mb-4 gallery-directive docutils">
    <div
        class="sd-row sd-row-cols-1 sd-row-cols-xs-1 sd-row-cols-sm-2 sd-row-cols-md-2 sd-row-cols-lg-3 sd-g-2 sd-g-xs-2 sd-g-sm-2 sd-g-md-2 sd-g-lg-2 docutils">
        <% for (const item of items) { %>
            <div class="sd-col sd-d-flex-row docutils">
                <div class="sd-card sd-sphinx-override sd-w-100 sd-shadow-sm docutils">
                    <div class="sd-card-header docutils">
                        <p class="card-text"><i class="<%= item.icon %>"></i>
                            <%= item.name %>
                        </p>
                    </div>
                    <div class="sd-card-body docutils">
                        <p class="sd-card-text">
                            <%= item.content %>
                        </p>
                    </div>
                    <% if (item.link) { %>
                        <div class="sd-card-body">
                            <a href="<%= item.link %>" class="card-link">
                                <%= item.link_label %>
                            </a>
                        </div>
                        <% } %>
                </div>
            </div>
            <% } %>
    </div>
</div>
```